*.py[co]

# Emacs
*~
.#*
*#

# Project
*log
*log.1
*up-to-date
pinya*.lp
pinya*.sol
pinya*.sol.1
pinya*.roles
pinya.ineq_reps
pinya.solved.svg
tests/index.html
tests/test.py
www/test.html
cvg/*
sql/init-cvg.sql
*stats
*.zip

# external javascript libraries
www/js/jquery-ui-1.8.23/*
www/js/css/ui-lightness/images/
www/js/jqGrid
www/js/jqGrid-4.3.1/
www/js/jquery-1.7.2-svg/
www/js/jquery-1.8.1.min.js
www/js/jquery.svg/


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#LaTeX
*.log
*.blg
*.aux