@charset "utf-8";
/* CSS Document */

body
{
/*
    background-image:url('../img/escut-web.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
*/
} 

circle { fill:     lightblue;}

circle:hover { fill:     red;}

circle.prescribed { fill: lightgreen;}

circle.design { stroke: green;}


rect                { fill: lightblue; }
rect.ma             { fill: purple;    }
rect.vent           { fill: blue;      }
rect.crossa         { fill: yellow;    }
rect.contrafort     { fill: orange;    }
rect.baix           { fill: red;       }
rect.agulla         { fill: brown;     }
rect.portacrossa    { fill: teal;      }
rect.lateral        { fill: darkblue;  }  /* lateral       */
rect.design         { stroke: green;}


path { stroke-width:2; fill:none;}

path.ma { stroke: seagreen}
path.ma_ma { stroke: seagreen}

path.vent { stroke: lightgreen}
path.vent_vent { stroke: lightgreen}

path.pinya { stroke: lightblue; }
path.pinya_pinya { stroke: lightblue;}

path.baix_crossa { stroke: teal; }



.vtext {
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-o-transform: rotate(-90deg);
display:block;}


text:hover { fill: red;}

/*
text { text-anchor:       "middle";
    dominant-baseline: "mathematical";}

*/
