@charset "utf-8";
/* CSS Document */

body
{
/*
    background-image:url('../img/escut-web.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
*/
} 

circle {
    fill:     lightblue;
}
circle:hover {
    fill:     red;
}
circle.prescribed {
    fill: lightgreen;
}
circle.design {
    stroke: green;
}

rect   {
    fill: lightblue;
}
rect.ma {
    fill: seagreen;
}
rect.vent {
    fill: lightgreen;
}

.vtext {
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-o-transform: rotate(-90deg);
display:block;
}

text:hover {
    fill: red;
}
/*
text {
    text-anchor:       "middle";
    dominant-baseline: "mathematical";
}
*/
