@charset "utf-8";
/* CSS Document */

body
{
/*
    background-image:url('../img/escut-web.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
*/
} 

circle { fill:     lightblue;}

circle:hover { fill:     red;}

circle.prescribed { fill: lightgreen;}

circle.design { stroke: green;}


rect                { fill: lightblue; }
rect.ma             { fill: purple;    }
rect.vent           { fill: blue;      }
rect.crossa         { fill: yellow;    }
rect.contrafort     { fill: orange;    }
rect.baix           { fill: red;       }
rect.agulla         { fill: brown;     }
rect.portacrossa    { fill: teal;      }
rect.lateral        { fill: darkblue;  }  /* lateral       */
rect.segon          { fill: darkgreen;      }
rect.design         { stroke: green;}


path { stroke-width:2; fill:none;}

/* path.rel { stroke: purple; } */

path.ma:hover { stroke: seagreen}
path.ma_ma:hover { stroke: seagreen}

path.vent:hover { stroke: lightgreen}
path.vent_vent:hover { stroke: lightgreen}

path.pinya:hover { stroke: lightblue; }
path.pinya_pinya:hover { stroke: lightblue;}

path.baix_crossa:hover { stroke: teal; }

/* path.rel { display: none; } */
text.rel { color: rgba(1,0,0,0.1); fill: rgba(1,0,0,0.1); }
text.rel:hover { color: rgba(1,0,0,1); fill: rgba(1,0,0,1); }
path.rel { color: rgba(1,0,0,0.1); fill: rgba(0,1,0,0.1); }
path.rel:hover { color: rgba(1,0,0,1); }

.vtext {
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
-o-transform: rotate(-90deg);
font-size: .25em;
dominant-baseline: 'mathematical';
display:block;}


text:hover { fill: red;}

/*
text { text-anchor:       "middle";
    dominant-baseline: "mathematical";}

*/
